* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

body, .producto{    
    background-color: #0F1626;
}

.cabecera{
    margin: 5px 10px;
    padding-bottom: 20px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    color: #FF533D;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.cabecera p{
    display: inline;
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.cabecera button{
    margin-left: 20px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #1e1a50;
    box-shadow: #430801 0px 0px 0px, #FF533D 1px 1px;
    height: 30px;
    width: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.cabecera button:hover{
    box-shadow: #430801 1px 1px 1.5px, #FF533D 5px 5px;
    text-shadow: #ffffff 0 0 1px;
    transition: all 0.2s ease-in-out;
}

.puntos-ingresados-contenedor{
    display: inline;
    justify-content: center;
    align-items: center;
}

#puntosIngresadosValor{
    justify-content: center;
    display: inline;
    align-items: center;
    text-align: center;
    margin-left: 5px;
    padding: 0 2px;
    font-weight: 900!important;
    background-color: #ffffff;
    color: #0F1626!important;
    width: 60px;
    height: 25px;
    overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

#puntosIngresadosValor:hover,
#puntosIngresadosValor:focus{
    background-color: #FF533D;
    color: #ffffff!important;
}

.productos-disponibles{
    margin: 0 10px;
    padding-bottom: 10px;
}

.productos-disponibles h2{
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.productos-disponibles p{
    display: inline;
}

.productos-disponibles button{
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #1e1a50;
    height: 30px;
    width: 90px;
    border-radius: 15px;
    border: none;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.productos-disponibles button:hover{
    background-color: #ffffff;
    color: #0F1626;
}

.tarjetas-productos{
    border: 2px solid #FF533D;
    display: flex;
    min-height: 321px;
    width: 96vw;
    column-gap: 10px;
    margin: 10px 0;
    padding: 5px 5px;
    background-color: #FF533D;
    user-select: none;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.tarjetas-productos::-webkit-scrollbar{
    height: 1em;
}

.tarjetas-productos::-webkit-scrollbar-track{
    background: #912f22;
    border-radius: 100vw;
}

.tarjetas-productos::-webkit-scrollbar-thumb{
    background: #1e1a50;
    border: .08em solid #912f22;
    border-radius: 100vw;
}

.producto{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.-hide{
    display: none;
}

.producto img{
    filter: grayscale(0.7);
    transition: all 0.3s ease-in-out;
    height: 205px;
    width: 183px;
}

.producto img:hover{
    filter: grayscale(0);
    transform: scale(105%, 105%);
    transition: all 0.3s ease-in-out;
}

.producto h3{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.titulo-productos:hover{
    color: #FF533D;
    cursor: pointer;
    text-shadow: #912f22 1px 1px 2px;
    transition: all 0.2s ease-in-out;
}

.mis-canjes{
    color: #ffffff;
    margin: 5px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.canjes{
    text-align: center;
    border: #ffffff solid 3px;
    width: 96vw;
    margin: 20px 10px;
    padding: 15px 5px;
    display: flex;
}

.canjes h3{
    background-color: transparent;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.mis-canjes ul{
    margin-top: 20px;
    display: inline;
}

.mis-canjes li{
    margin-top: 10px;
    color: #ffffff;
    list-style: none;
}

.btn-reinicio{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #1e1a50;
    box-shadow: #430801 0px 0px 0px, #FF533D 1px 1px;
    height: 30px;
    width: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-reinicio:hover{
    box-shadow: #430801 1px 1px 1.5px, #FF533D 5px 5px;
    text-shadow: #ffffff 0 0 1px;
    transition: all 0.2s ease-in-out;
}

.btn-grafico{
    display: inline;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #FF533D;
    box-shadow: #430801 0px 0px 0px, #27af57 1px 1px;
    height: 30px;
    width: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-grafico:hover{
    box-shadow: #234301 1px 1px 1.5px, #27af57 5px 5px;
    text-shadow: #ffffff 0 0 1px;
    transition: all 0.2s ease-in-out;
}

#grafico-container{
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0;
    background-color: #ffffff;
}

.pie{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 35px;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.pie p,
b{    
    color: #ffffff;
}

.producto button{
    display: block;
}

.btn-dolar{
    display: flex;
    margin: 5px auto;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #1e1a50;
    box-shadow: #430801 0px 0px 0px, #FF533D 1px 1px;
    height: 80px;
    width: 190px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-dolar:hover{
    box-shadow: #430801 1px 1px 1.5px, #FF533D 5px 5px;
    text-shadow: #ffffff 0 0 1px;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 420px){
    #grafico-container{
        min-width: 300px;
        display: block;
    }
    .tarjetas-productos{
        min-width: 300px;
    }
    .canjes h3{
        display: none;
    }
    .mis-canjes ul{
        display: none;
    }    
    .mis-canjes li{
        display: none;
    }
    .canjes {
        min-width: 300px;
    }
    .mis-canjes{
        display: fixed;
    }
}